@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
}
.fade.modal.show {
  padding-left: 0px !important;
}
.header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 12px 0 rgb(0 0 0 / 7%);
}
.main {
    max-width: 363px;
    margin: auto;
}
.logo {
  width: 25%;
  margin: auto;
}
i.fi-rr-search {
  margin-top: 9px;
  position: absolute;
  right: 30px;
  cursor: pointer;
  opacity: 50%;
}
input.item-search {
    width: 50%;
}
.item-column-one {
  position: relative;
}
input.item-search {
  width: 100%;
  border-radius: 4px;
  border: 0.5px solid #ddd;
  outline: none;
  padding-left: 10px;
  line-height: 33px;
}
.item-customer label {
  font-weight: 500;
  font-size: 14px;
}
.item-customer {
  margin-bottom: 30px;
  margin-top: 21px;
}
.item-img {
  width: 21%;
  position: absolute;
  margin-top: -2px;
}
.item-column-two {
  margin-left: 65px;
  margin-top: -13px;
}
.item-column-third {
  margin-left: 65px;
  margin-top: -16px;
}
.item-column-one {
  margin-left: 65px;
}
.item-list-column {
  border: 0.5px solid #ddd;
  padding-top: 15px;
  box-shadow: 0 1px 12px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  cursor: pointer;
}
.modal-header {
  height: 85px;
}
.modal-title.h4 {
  margin-top: -5px;
}
.phone {
  margin-top: 28px;
  position: absolute;
}
label.item-top {
  margin-left: 21px;
  color: #ef8f53;
}
label.item-time {
  margin-left: 20px;
  color: #eb8005;
}
.dashed {
  border-bottom: 0.5px solid;
  position: absolute;
  width: 35%;
  margin-top: 12px;
  margin-left: -10px;
}
label.time {
  margin-left: 109px;
}
.dash {
  border-bottom: 0.5px solid;
  width: 39%;
  margin-top: 13px;
  float: right;
  margin-right: -10px;
}
.space {
  padding-bottom: 5px;
  padding-top: 13px;
  text-align: center;
  color: #3705eb;
}
label.item-group {
  font-size: 12px;
  color: #5f0df3;
  font-weight: 500;
}
.modal-content {
  height: auto;
}
.horizontal {
  border-bottom: 1px solid #ddd;
}
.item-information {
  text-align: center;
  margin-top: -12px;
}
.item-list-history {
  text-align: center;
  z-index: 1000;
  border: #FFF;
}
.list-phone {
  margin-top: -15px;
}
.list-top {
  margin-top: -15px;
}
.list-source {
  margin-top: -15px;
}
label.tv-color {
  border: 0.5px solid #0ba3c7;
  width: auto;
  text-align: center;
  color: #0ba3c7;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  padding-bottom: 2px;
}
label.data-color {
  border: 0.5px solid #f27c14;
  width: auto;
  text-align: center;
  color: #f27c14;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  padding-bottom: 2px;
}
img.before {
  width: 48%;
}
img.after {
  width: 48%;
  margin-left: 10px;
}
.list {
  overflow: auto;
  width: 100%;
  height: 500px;
}
.list-history {
  margin-bottom: -15px;
}
.list-his {
  margin-bottom: -9px;
}
label.weight {
  font-weight: 600;
  margin-bottom: -10px;
}
label.booking {
  font-weight: 600;
  color: #1806e8;
  border-bottom: 2px solid;
}